.navbar
{
    padding: 10px 0px;
	position: fixed;
	width: 100%;
	border-radius: 0px 0px 100px 100px;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
	z-index: 10;
    background: #ffffff;
}
.navbar .container
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center
}
.navbar-expand-lg .navbar-collapse
{
    flex-direction: row-reverse;
    justify-content:space-between;
    margin-right: 120px;
}
.navbar-expand-lg .navbar-collapse li
{
    font-size: 20px;
    margin-left: 10px;
}
.carousel-control-prev-icon
{
    font-weight: 900;
    font-size: 120px;
}
.navbar-expand-lg .navbar-collapse li a:hover
{
	color: #d65106;
}

.navbar-expand-lg .navbar-collapse .active a{
    color: #d65106;
}

.navbar-brand
{
    margin-left: 40px;
}
/*--------------------------------------------------------------------*/
.custom_list li a:hover
{
	color: #0e8ce4;
}
.cart_count
{
	width: 23px;
	height: 23px;
	background: #0e8ce4;
	border-radius: 50%;
	text-align: center;
}
.cart_count span
{
	display: block;
	line-height: 23px;
	font-size: 12px;
	color: #FFFFFF;

}
.cart_icon img
{
	width: 100%;
}
.cart_content
{
	margin-left: 18px;
    margin-top: 10px;
}
.cart_text a
{
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.cart_text a:hover
{
	color: #0e8ce4;
}
.cart_price
{
	font-size: 16px;
	color: #a3a3a3;
}

/*-----------------------------------------*/
/*--FORMULARIO-------------------*/
.form{
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    background: rgba(15, 50, 72, 0.3);
    border-radius: 5px;
   background: #f1f1f1;

}
/*--TITULO-----------------------*/
.titulo{
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}
/*--CAJAS-DE-DATOS---------------*/
.cajas{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    border-left: 10px solid #FF4500;
    transition: all .5s ease;
}
.cajas:hover, .cajas:focus{
    border-left: 10px solid #FFA500;
}
.termino2{
    color:#1f1f1f;
    text-decoration: none;
    font-weight: bold;
}
.termino2:hover{
    color: #FF4500;
}
/*--BOTON-DE-REGISTRARSE---------*/
.btn{
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    margin: 20px 0;
    font-size: 15px;
    background: #FF4500;
    color: white;
    cursor: pointer;
    transition: all .5s ease;
}
.btn:hover{
    background: #FFA500;
}
.nota{
    text-align: center;
    color: #000000;
    font-size: 15px;
    border-left: 2px solid #FF4500;
    border-right: 2px solid #FF4500;

}
/*--YA-TENGO-CUENTA--------------*/
.tengo-cuenta{
    text-align: center;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
.tengo-cuenta:hover{
    color: #FF4500;
}

/*------------------------------------------------------------------
    Menu
-------------------------------------------------------------------*/

.menu-box{
	padding: 70px 0px;
    z-index: 1;
}

.heading-title{
	margin-bottom: 50px;
}
.heading-title h2{
	color: #010101;
	font-size: 28px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}
.heading-title p{
	font-size: 18px;
	font-weight: 200;
	margin: 0px;
    
}


.inner-menu-box .nav-pills .nav-link.active{
	background: #d65106;
    
}
.inner-menu-box .nav-pills .nav-link{
	font-size: 18px;
    color: #000;
}
.inner-menu-box .nav-pills .nav-link:hover{
	background: #d65106;
	color: #ffffff;
}
.gallery-single{
	margin-bottom: 30px;
}

.gallery-single {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.why-text {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background: rgba(207, 166, 113, 0.9);
    padding: 12px 12px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.why-text h4{
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
}
.why-text p{
	color: #ffffff;
	font-size: 13px;
	border-bottom: 1px dashed #010101;
	margin: 0px;
	padding-bottom: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.why-text h5{
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
}

.agregar-carrito{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    border: 0px;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.agregar-carrito:hover{
    cursor: pointer;
    color: white;
    background-color: #d65106;
}
.gallery-single:hover .why-text{
	bottom: 0px;
}

/*----------------------------------------------*/
button:hover
{
    opacity: 0.8;
}
#open_cart
{
    border: none;
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 9; /* Asegura que esté encima del resto del contenido */
    display: none; /* Lo ocultamos inicialmente */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
.backdrop.show
{
    display: block;
    opacity:1;
}
.sidecart
{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    background-color: #FFFFFF;
    box-shadow: -10px 0 15px var(--light-gray);
    transform: translateX(110%);
    z-index:10;
    transition: transform 0.5s ease-in-out;
}

.sidecart.open
{
    transform: translateX(0);
}
.cart_content
{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cart_header
{
    padding: 1rem;
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;

}
.header_title
{
    position: relative;
}

.header_title span
{
    position: absolute;
    top: -5px;
    right:-20px;
    width: 20px;
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 50%;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_header .close_btn
{
    margin-right: -70px;
    font-size: 4rem;
    cursor: pointer;
    transition: transform 0.2s ease;

}
.cart_header span
{
    padding-right: 20px;
    font-size: 30px;
}
.cart_header .close_btn:hover
{
    transform: scale(1.1);
}

.cart_items
{
    flex: 1;
    overflow-x: hidden;
}
.cart_item
{
    position: relative;
    padding: 1rem;
    width: 100%;
    min-height: 150px;
    display: flex;
    border: 1px solid var(--light-gray);
}

.remove_item
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.remove_item span
{
    color: #ffffff;
    font-size: 20px;
    user-select: none;
}

.item_img img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item_details
{

 padding-top: 1rem;
 padding-left: 1rem;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 align-items: center;
 flex-wrap: wrap;
}
.item_details p
{
    color: #666;
}
.item_details .qty
{
    align-items: flex-end;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.item_details .qty span
{
    width: 30px;
    height: 30px;
    background-color: #e1e1e1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    box-shadow: 3px 3px 5px #010101 -px -1px 2px var(--light-gray);
    user-select: none;
    transition: scale .2s ease;
    justify-content: space-evenly;
}

.item_details .qty span:hover
{
    scale: 1.1;
}
.item_details .qty span:active
{
    scale: 1;
}

.qty span:first-of-type
{
    font-size: 2rem;
    padding-bottom: 5px;
}

.cart_actions
{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid #000;
    box-shadow: 0 -5px 10px var(--light-gray);
}

.cart_actions .subtotal
{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.cart_actions button
{
    border: none;
    background-color: #000;
    color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.cart_actions button:nth-of-type(2)
{
    background-color: #0e8ce4;
}


